.HeaderTop {
  height: 80px;
  width: 100%;
  background-color: #3c3c3b;
}
.HeaderTop > div {
  min-width: 1150px;
  width: 90%;
  height: 80px;
  position: relative;
  margin: auto;
}
.headerRow {
  line-height: 80px;
  height: 80px;
}
.headerCol1 {
  padding-left: 15px;
}
.logoLeft {
  width: 57px;
}
.headerInput {
  padding: 20px;
}
.headerUl {
  display: flex;
  justify-content: space-between;
  color: white;
}
.headerUl li a {
  color: white;
}
.headerUl li a:hover {
  border-bottom: 1px solid white;
}
