.HomeTitle {
  width: 100%;
  position: relative;
  background: url('https://www.wigglestatic.com/images/offers/commercial/2019/week36/2019-w36-homepage-hero-desk-2-min.jpg');
  background-position-y: 100%;
  height: 355px;
}
.TitleBike {
  height: 75px;
  width: 270px;
  position: absolute;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.025em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  color: #cf1b1b;
  border-color: #cf1b1b;
}
.TitleZhe {
  position: absolute;
  height: 25px;
  width: 90px;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 4;
  font-weight: 400;
  letter-spacing: 0.025em;
  left: 0;
  top: 80px;
  bottom: 0;
  right: 0;
  margin: auto;
  border-bottom: 0.1em solid white;
  padding-bottom: 0.1em;
  color: #cf1b1b;
  border-color: #cf1b1b;
}
