.itemVw {
  min-width: 1150px;
  max-width: 1400px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}
.itemBox {
  display: flex;
  justify-content: space-between;
}
.itemLeft {
  width: 650px;
  height: 500px;
  display: flex;
}
.itemLeft_big {
  width: 480px;
  height: 480px;
  margin: 10px;
}
.itemLeft_big > img {
  width: 100%;
  height: 100%;
}
.itemLeft_sm {
  width: 150px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.imgbox {
  width: 120px;
  height: 120px;
  margin-top: 10px;
  margin-left: 10px;
}
.imgbox > img {
  width: 100%;
  height: 100%;
}
.itemRight {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
}
.itemPrice {
  width: 100%;
  height: 30px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.itemColor {
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.numMid {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-align: center;
}
.shopCar {
  width: 100%;
  height: 50px;
  margin-top: 40px;
}
.description {
  margin-top: 15px;
}
